<div class="mat-app-background basic-container">
    <br />
    <h3>Query neighbours of a sample by Id</h3>
    <div class="controls form-inline mmm-control-label">
        Sample Id &nbsp;
        <input type="text" class="form-control" id="sampleId" required name="sampleId" [(ngModel)]="sampleId" style="width: 400px;"
            #sampleFilter (keyup)="onSampleIdChange(sampleFilter.value)" placeholder="Type start of sample Id to filter"
            [formControl]="sampleIdControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        &nbsp;
        Threshold [0 - {{thresholdMax}}]&nbsp;
        <input type="number" name="quantity" min="0" max="{{thresholdMax}}" class="form-control" id="threshold"
            required name="threshold" [(ngModel)]="threshold" style="width: 100px;"> &nbsp;
        <button type="button" (click)="[findNeighbours()]" class="btn btn-primary"> Find </button>
    </div>
    <hr />
    <div class="mmm-control-label">
        {{statusText}}
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="guid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Id </th>
                <td mat-cell *matCellDef="let element"> {{element.guid}} </td>
            </ng-container>

            <ng-container matColumnDef="snv">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SNV </th>
                <td mat-cell *matCellDef="let element"> {{element.snv}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" class="button-row actionColumnTwo">
                    <a mat-button class="button-edit-action" [routerLink]="['details', element.guid]">Details</a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>