<div class="mat-app-background basic-container">
  <br />
  <h3>Sample details</h3>
  <table>
    <tr>
      <th>Annotation information</th>
      <th>Clustering information</th>
    </tr>
    <tr>
      <td valign="top">
        <table>
          <tr *ngFor="let item of annotations | keyvalue">
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <table>
          <tr>
            <th>Clustering method</th>
            <th>Cluser Id</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of clusters">
            <td>{{item.clustering_algorithm}}</td>
            <td>{{item.cluster_id}}</td>
            <td><a mat-button class="button-edit-action" [routerLink]="['clusters', item.clustering_algorithm, item.cluster_id]">Cluster
                details</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>