<div class="mat-app-background basic-container">
    <br />
    <h3>Cluster summary</h3>
    <div class="controls form-inline mmm-control-label">
        Cluster method &nbsp;
        <select class="form-control" id="clusterMethod" name="clusterMethod" required [(ngModel)]="clusterMethod">
            <option *ngFor="let method of clusterMethods" [value]="method">{{method}}</option>
        </select> &nbsp;
        <button type="button" (click)="[getClusters()]" class="btn btn-primary"> Show clusters </button>
    </div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="cluster_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cluster Id </th>
                <td mat-cell *matCellDef="let element"> {{element.cluster_id}} </td>
            </ng-container>

            <ng-container matColumnDef="is_mixed_True">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mixed samples </th>
                <td mat-cell *matCellDef="let element"> {{element.is_mixed_True}} </td>
            </ng-container>

            <ng-container matColumnDef="is_mixed_False">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Not mixed samples</th>
                <td mat-cell *matCellDef="let element"> {{element.is_mixed_False}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" class="button-row actionColumnTwo">
                    <a mat-button class="button-edit-action" [routerLink]="['details',clusterMethod, element.cluster_id]">Details</a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>