<div class="mat-app-background basic-container">
  <br />
  <h3>Server monitor</h3>
  <table>
    <tr>
      <th><button type="button" (click)="[getStatus()]" class="btn btn-primary"> Get server status </button> </th>
      <th>
        <div class="controls form-inline mmm-control-label">
          For &nbsp;
          <select class="form-control" id="statType" name="statType" required [(ngModel)]="statValue">
            <option *ngFor="let sType of statTypes" [value]="sType.value">{{sType.text}}</option>
          </select>
          &nbsp; Show &nbsp;
          <select class="form-control" id="eventRange" name="eventRange" required [(ngModel)]="eventRange">
            <option *ngFor="let range of eventRanges" [value]="range">{{range}}</option>
          </select>
          &nbsp; recent events &nbsp;
          <button type="button" (click)="[getTrends()]" class="btn btn-primary"> Display trends </button>
        </div>
      </th>
    </tr>
    <tr>
      <td valign="top">
        <table>
          <tr>
            <th>Descriptor 1</th>
            <th>Descriptor 2</th>
            <th>Event time</th>
            <th>Detail</th>
            <th>Value</th>
          </tr>
          <tr *ngFor="let item of serverStatus">
            <td>{{item.descriptor1}}</td>
            <td>{{item.descriptor2}}</td>
            <td>{{item.event_time}}</td>
            <td>{{item.detail}}</td>
            <td style="text-align:right">{{item.value}}</td>
          </tr>
        </table>
      </td>
      <td valign="top">
        <img #trendsImage>
      </td>
    </tr>
  </table>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>