<div class="mat-app-background basic-container">
    <br />
    <h3>Samples of cluster {{clusterId}}</h3>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="change_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Change Id </th>
                <td mat-cell *matCellDef="let element"> {{element.change_id}} </td>
            </ng-container>

            <ng-container matColumnDef="guid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Guid </th>
                <td mat-cell *matCellDef="let element"> {{element.guid}} </td>
            </ng-container>

            <ng-container matColumnDef="is_mixed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Mixed </th>
                <td mat-cell *matCellDef="let element"> <input [ngModel]="element.is_mixed" class="mmm-checkbox"
                        disabled="disabled" type="checkbox" /> </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" class="button-row actionColumnTwo">
                    <a mat-button class="button-edit-action" [routerLink]="['details', element.guid]">Details</a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>
