<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="banner">
  <div>FindNeighbour Monitor</div>
  <div id="serverInfo"> 
    {{ title }} <button type="button" (click)="[changeServer()]" class="btn btn-primary">Change server</button>
  </div>  
</div> 
<app-fnm-navigation>
  <router-outlet></router-outlet>
</app-fnm-navigation>
