.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0n, 0, 0.24)
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.hidden{
  display: none;
}

.menuRightAlign {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: lightgray;  
  text-decoration: none;
}

mat-toolbar a:hover {
  display: inline-block;
  margin: 0 10px;
  color: white;  
  text-decoration: none;
}

::-webkit-scrollbar{
  display: none; 
}