<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="red">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="fnmfindneighbour">Find neighbours</a>      
      <a mat-list-item href="fnmbrowsecluster">Cluster summary</a>
      <a mat-list-item href="fnmreviewcluster">Cluster details</a>
      <a mat-list-item href="fnmservermonitor">Server monitor</a>         
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [ngClass]="{hidden: (isHandset$ | async)}">
        <a routerLink="fnmfindneighbour">Find neighbours</a>        
        <a routerLink="fnmbrowsecluster">Cluster summary</a>
        <a routerLink="fnmreviewcluster">Cluster details</a>
        <a routerLink="fnmservermonitor">Server monitor</a>                
      </span>      
    </mat-toolbar>    
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>