<div class="mat-app-background basic-container">
    <br />
    <h3>Cluster details</h3>
    <div class="controls form-inline mmm-control-label">
        Cluster method &nbsp;
        <select (change)="[getCluster()]" class="form-control" id="clusterMethod" name="clusterMethod" required
            [(ngModel)]="clusterMethod">
            <option *ngFor="let method of clusterMethods" [value]="method">{{method}}</option>
        </select> &nbsp;

        Cluster &nbsp;
        <select class="form-control" id="cluster" name="cluster" required [(ngModel)]="cluster">
            <option *ngFor="let mcluster of clusters" [value]="mcluster.cluster_id">{{mcluster.cluster_id}}</option>
        </select> &nbsp;

        Output format&nbsp;
        <select class="form-control" id="format" name="format" required [(ngModel)]="format">
            <option *ngFor="let mformat of formats" [value]="mformat">{{mformat}}</option>
        </select> &nbsp;

        <button type="button" (click)="[getAlignmentCluster()]" class="btn btn-primary"> View </button>
    </div>

    <div *ngIf="format == formats[0]">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div *ngIf="showTableOptions" style="text-align: right;">
            Show aligned sequence <input [(ngModel)]="showAlignedSeq" (change)="renderAlignedSequence()" class="mmm-checkbox" type="checkbox" />
            <button class="btn btn-success" (click)="exportToExcel()">Download data as Excel</button>            
        </div>
        <br>
        <div class="mat-elevation-z8" #TABLE>
            <table mat-table #table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="guid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sample Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.guid}} </td>
                </ng-container>

                <ng-container matColumnDef="aligned_seq_len">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aligned sequence length </th>
                    <td mat-cell *matCellDef="let element"> {{element.aligned_seq_len}} </td>
                </ng-container>

                <ng-container matColumnDef="alignN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AlignN </th>
                    <td mat-cell *matCellDef="let element"> {{element.alignN}} </td>
                </ng-container>

                <ng-container matColumnDef="allN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AllN </th>
                    <td mat-cell *matCellDef="let element"> {{element.allN}} </td>
                </ng-container>

                <ng-container matColumnDef="alignM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AlignM </th>
                    <td mat-cell *matCellDef="let element"> {{element.alignM}} </td>
                </ng-container>

                <ng-container matColumnDef="allM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> AllM </th>
                    <td mat-cell *matCellDef="let element"> {{element.allM}} </td>
                </ng-container>

                <ng-container matColumnDef="alignN_or_M">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Align N_or_M </th>
                    <td mat-cell *matCellDef="let element"> {{element.alignN_or_M}} </td>
                </ng-container>

                <ng-container matColumnDef="allN_or_M">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> All N_or_M </th>
                    <td mat-cell *matCellDef="let element"> {{element.allN_or_M}} </td>
                </ng-container>

                <ng-container matColumnDef="expected_proportion1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Proportion1 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.expected_proportion1)}} </td>
                </ng-container>

                <ng-container matColumnDef="expected_proportion2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Proportion2 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.expected_proportion2)}} </td>
                </ng-container>

                <ng-container matColumnDef="expected_proportion3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Proportion3 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.expected_proportion3)}} </td>
                </ng-container>

                <ng-container matColumnDef="expected_proportion4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected Proportion4 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.expected_proportion4)}} </td>
                </ng-container>

                <ng-container matColumnDef="observed_proportion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Observed Proportion </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.observed_proportion)}} </td>
                </ng-container>

                <ng-container matColumnDef="what_tested">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> What Tested </th>
                    <td mat-cell *matCellDef="let element"> {{element.what_tested}} </td>
                </ng-container>

                <ng-container matColumnDef="p_value1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> P Value1 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.p_value1)}} </td>
                </ng-container>                

                <ng-container matColumnDef="p_value2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> P Value2 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.p_value2)}} </td>
                </ng-container>             

                <ng-container matColumnDef="p_value3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> P Value3 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.p_value3)}} </td>
                </ng-container>
               
                <ng-container matColumnDef="p_value4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> P Value4 </th>
                    <td mat-cell *matCellDef="let element"> {{renderFloatNumber(element.p_value4)}} </td>
                </ng-container>

                <ng-container matColumnDef="aligned_seq">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Aligned Seq </th>
                    <td mat-cell *matCellDef="let element" style="word-break:break-all;"> {{element.aligned_seq}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" class="button-row actionColumnTwo">
                        <a mat-button class="button-edit-action" [routerLink]="['details', element.guid]">Details</a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>        
    </div>
    <div *ngIf="format == formats[1]">
        <br />
        <code innerHTML="{{fasta}}"></code>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
            <p style="font-size: 20px; color: white">Rendering...</p>
    </ngx-spinner>
    <div *ngIf="format == formats[2] || format == formats[3]">
        <br />
        <div id="mousePsn"><span id="recentNode">{{prompt}}</span></div>        
        <div id="cy"></div>
    </div>
</div>