/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
#banner {
    background: #207569;
    background-image: url(assets/network.png);
    background-size: auto 100%;
    height: 110px;
    font-size: xx-large;    
    color: #fff;
    text-align: center;
    padding-top: 10px;
    line-height: 45px;
}

#serverInfo{
    font-size: medium;
}

a {
    color: #428bca;
    text-decoration: none;   
}

td a {
    color: #428bca;
    text-decoration: none;
    padding: 3px;
}

a:hover {
    text-decoration: underline;
}


a:not([href]) {
    color: #428bca;
}

a:not([href]):hover {
    color: #428bca;
    text-decoration: underline;
    cursor: pointer;
}

.button-edit-action {
    min-width: 1%  !important;
    color: #428bca;
  }
  
.button-delete-action {
    min-width: 1%  !important;    
}

.basic-container {
    padding-left: 25px;
    padding-right: 25px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.mmm-control-label{
    font-weight: bold;
}

.mmm-checkbox {
    width: 55px;
    height: 38px;
    vertical-align: middle;
}

.mmm-edit-container{
    width: 600px;
}

td.mat-cell, th.mat-header-cell {
    padding-left: 10px !important;     
}

.actionColumnTwo{
    min-width:170px;
}

.mat-toolbar.mat-primary{    
    background:darkcyan;
}